server/node_modules
client/node_modules
admin/node_modules


server/package-lock.json
client/package-lock.json
admin/package-lock.json

server/.uploads
server/PDF/*.html
server/PDF/*.pdf
.vscode

server/config.json